h1{
  font-family: century schoolbook;
  font-weight: bold;
  font-size: 72px;
  background-color: white;
  padding: 60px 60px;
  border-radius: 6px 6px 6px 6px;
}
body{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
p{
  font-family: century gothic;
  line-height: 1.5;
}

